body {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black; }

html {
  width: 100%;
  height: 100%; }

h1 {font-family: 'Exo 2', sans-serif; 
   padding-left: 60px;
}
h2 {font-family: 'Exo 2', sans-serif; }
}
    {
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif; 
  line-height: 1.5;
  margin: 0 0 25px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0 0 35px; } }


/* Collapsed Nav */
#mainNav {
    font-family: 'Exo 2', sans-serif; 
    font-size: 14px;
  text-transform: uppercase;
 border-bottom: 5px solid white;
  background-color:  #333; 
}
  #mainNav .navbar-toggler {
    font-size: 18px;
    padding: 11px;
    color: white;
    border: 1px solid white; }
  #mainNav .navbar-brand {
    font-weight: 700; }
  #mainNav a {
    color: white;
}

/* Normal Nav */
  #mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    #mainNav .navbar-nav .nav-item:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent; }
    #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
      outline: none;
      background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      letter-spacing: 1px;
      border-bottom: none;
      background: transparent; }
      #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 5px solid white;
        background:  #333; }
      #mainNav .nav-link.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3); }
        #mainNav .nav-link.active:hover {
          color: white; } }

.home {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background: url("../img/main-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .home .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .button {
      font-size: 18px; }
  @media (min-width: 768px) {
        .title {
        font-size: 100px; }
  

.btn-circle {

  font-size: 100px;
  margin-top: 15px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent; 
  position: relative;top: 100px;  
}
  .btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1); }
  
.html {
   display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  color: black;
  background-color: #E5E4E2;   
}

.scripting-languages {
   display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  color: white;
  background-color: #333;    
}

.box-model {
   display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  color: black;
  background-color:#E5E4E2; 
}


.css-linking {
   display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  color: white;
  background-color: #333;    
}


.implementation {
   display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  color: black;
  background-color: #E5E4E2;    
    font-size: 18px;
}

.functionality {
   display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  color: white;
  background-color: #333;    
}

.accessibility {
   display: table;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  color: black;
  background-color: #E5E4E2;     
}
    

.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0; }

.btn-default {
  color:white;
  border: 1px solid white;
  background-color: transparent; }
  .btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid white;
    outline: none;
    background-color: white; }


      
ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

        
      
footer {
  color: white;
  background-color: #333;    
  font-family: 'Exo 2', sans-serif;
  padding   : 30px; }

.box {
  background-color: #333; 
  padding-left:5px;
    padding-right:5px;
    height: 400px;
    width: 280px;
    border-bottom: 35px solid #E5E4E2;
}

.box2{
  background-color: #888;
     padding-left:5px;
    padding-right:5px;
      height: 400px;
    width: 280px;
    border-bottom: 35px solid #E5E4E2;
    padding-top: 70px;
}
.box3{
  background-color: #333;
 padding-left:5px;
    padding-right:5px;
    height: 400px;
    width: 280px;
    border-bottom: 35px solid #E5E4E2;

}

 .box4 {
  background-color: #888; 
  padding-left:5px;
    padding-right:5px;
    height: 400px;
    width: 280px;
    border-bottom: 35px solid #E5E4E2;
     padding-top: 95px;
}
      
 .box9 {
  background-color: #888; 
  padding-left:5px;
    padding-right:5px;
    height: 400px;
    width: 280px;
    border-bottom: 35px solid #E5E4E2;
     padding-top: 80px;
}
 .box10 {
  background-color: #888; 
  padding-left:5px;
    padding-right:5px;
    height: 400px;
    width: 280px;
    border-bottom: 35px solid #E5E4E2;
     padding-top: 60px;
}
      
  .box5 {
  background-color: #333; 
  padding-left:5px;
    padding-right:5px;
          font-family: 'Exo 2', sans-serif; 

          
}
  .box6{
  background-color: #888;
     padding-left:200   px;
    padding-right:5px;
    font-family: 'Exo 2', sans-serif; 
       height: 400px;
    width: 880px;
      position: relative;left: 190px;bottom:61px;
      
}
      
 .box11{
  background-color: #888;
     padding-left:200   px;
    padding-right:5px;
    font-family: 'Exo 2', sans-serif; 
       height: 400px;
    width: 900px;
    position: relative;bottom:61px;  
      
}

      .box7 {
  background-color: #333; 
  padding-left:5px;
    padding-right:5px;
    height: 150px;
          
}
   
      .box8{
  background-color: #888;
     padding-left:5px;
    padding-right:5px;
    height:235px;
          
}
      
    .button {
        border: none;
        color: #888;
            background-color: #333;
            font-family: 'Exo 2', sans-serif; 
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
            position:relative;right:452px;

        
    }
       .button2 {
        border: none;
               background-color: #333;
        color: #888;
            font-family: 'Exo 2', sans-serif; 
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    position:relative;left:464px;
    }
    
       .button3 {
        border: none;
        color: #888;
            background-color: #333;
            font-family: 'Exo 2', sans-serif; 
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
            position:relative;right:458px;
  }

.button4:hover {background-color:#E5E4E2;}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }
